<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{fragments/resources :: styling}" />
    <title>Pizzeria</title>
  </head>
  <body>
    <header>
      <th:block th:replace="~{fragments/navbar}" />
    </header>
    <main>
      <div class="container">
        <section class="my-5">
          <th:block th:if="${pizza != null}" th:object="${pizza}">
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" th:src="*{foto}" alt="">
                </div>
                <div class="col-6">
                  <div class="d-flex justify-content-between">
                    <h1 class="mb-5" th:text="*{nome}" />
                    <div>
                      <a th:href="@{/pizzas/{id}/offers (id=*{id})}">
                        <button class="btn btn-primary rounded-3">
                          Aggiungi offerta
                        </button>
                      </a>
                      <a th:href="@{/pizzas/edit/{id}(id=*{id}, redirect='show')}">
                        <button class="btn btn-warning rounded-3">
                          <i class="fa-solid fa-pencil"></i>
                        </button>
                      </a>
                      <form
                      class="d-inline"
                      th:action="@{/pizzas/delete/{id}(id=*{id})}"
                      method="post"
                    >
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        th:data-bs-target="'#modal-' + ${pizza.id}"
                      >
                        <i class="fa-solid fa-trash"></i>
                      </button>
                      <div
                        class="modal fade"
                        th:id="'modal-' + ${pizza.id}"
                        data-bs-backdrop="static"
                        data-bs-keyboard="false"
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1
                                class="modal-title fs-5"
                                id="staticBackdropLabel"
                              >
                                Elimina pizza [[*{nome}]]
                              </h1>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body">
                              <p>Sei sicuro? L'operazione è irreversibile</p>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                              >
                                Annulla
                              </button>
                              <button
                                type="submit"
                                class="btn btn-danger rounded-3"
                              >
                                Elimina
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5 th:text="*{descrizione}" />
                        </div>
                        <div class="col-6">
                            <h5 class="" th:text="'€ ' + *{prezzo}" />
                        </div>

                        <div class="row mt-4" th:if="${pizza.ingredients.size() > 0}">
                          <div class="col-12">
                          <h4>Ingredienti</h4>
                          <ul>
                            <li th:each="ingrediente : ${pizza.ingredients}" th:text="${ingrediente.nome}"></li>
                          </ul>
                          </div>
                        </div>

                    </div>
                </div>
            </div>


          </th:block>
          <h2 th:unless="${pizza != null}" class="text-center">
            No data found
          </h2>
        </section>

        <section class="row offers">
          <div class="col-12">
            <table th:if="${pizza.offers.size() > 0}" class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Titolo</th>
                  <th scope="col">Data di inizio</th>
                  <th scope="col">Data di fine</th>
                  <th scope="col">Azioni</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="offer : ${pizza.offers}" th:object="${offer}">
                  <td th:text="*{titolo}"></td>
                  <td th:text="*{dataInizio}"></td>
                  <td th:text="*{dataFine != null ? dataFine : '-'}"></td>
                  <td>

                    <a th:href="@{/offers/{id} (id=*{id})}">
                      <button class="btn btn-success rounded-3">
                        <i class="fa-solid fa-eye"></i>
                      </button>
                    </a>

                    <a
                    th:href="@{/offers/edit/{id} (id=*{id})}"
                    >
                    <button class="btn btn-warning rounded-3">
                      <i class="fa-solid fa-pencil"></i>
                    </button>
                  </a>


                  <form
                        class="d-inline"
                        th:action="@{/offers/delete/{id}(id=*{id})}"
                        method="post"
                      >
                        <button
                          type="button"
                          class="btn btn-danger"
                          data-bs-toggle="modal"
                          th:data-bs-target="'#modal-' + ${offer.id}"
                        >
                          <i class="fa-solid fa-trash"></i>
                        </button>
                        <div
                          class="modal fade"
                          th:id="'modal-' + ${offer.id}"
                          data-bs-backdrop="static"
                          data-bs-keyboard="false"
                          tabindex="-1"
                          aria-labelledby="staticBackdropLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1
                                  class="modal-title fs-5"
                                  id="staticBackdropLabel"
                                >
                                  Elimina offerta [[*{titolo}]]
                                </h1>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">
                                <p>Sei sicuro? L'operazione è irreversibile</p>
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-secondary"
                                  data-bs-dismiss="modal"
                                >
                                  Annulla
                                </button>
                                <button
                                  type="submit"
                                  class="btn btn-danger rounded-3"
                                >
                                  Elimina
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>



                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </main>

    <th:block th:replace="~{fragments/resources :: bootstrapJs}"></th:block>
  </body>
</html>
