<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{fragments/resources :: styling}" />
    <title>Pizzeria</title>
  </head>
  <body>
    <header>
      <th:block th:replace="~{fragments/navbar}" />
    </header>
    <main>
      <div class="container">
        <section class="my-5">
          <th:block th:if="${offer != null}" th:object="${offer}">
            <div class="row">
              <div class="col-12">
                <div class="d-flex justify-content-between">
                  <h1 class="mb-5" th:text="*{titolo}" />
                  <div>
                    <a th:href="@{/pizzas/{id} (id=*{pizza.getId()})}">
                      <button class="btn btn-primary rounded-3">
                        <i class="fa-solid fa-reply"></i>
                      </button>
                    </a>
                    <a th:href="@{/offers/edit/{id} (id=*{id})}">
                      <button class="btn btn-warning rounded-3">
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                    </a>
                    <form
                      class="d-inline"
                      th:action="@{/offers/delete/{id}(id=*{id})}"
                      method="post"
                    >
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        th:data-bs-target="'#modal-' + ${offer.id}"
                      >
                        <i class="fa-solid fa-trash"></i>
                      </button>
                      <div
                        class="modal fade"
                        th:id="'modal-' + ${offer.id}"
                        data-bs-backdrop="static"
                        data-bs-keyboard="false"
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1
                                class="modal-title fs-5"
                                id="staticBackdropLabel"
                              >
                                Elimina offerta [[*{titolo}]]
                              </h1>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body">
                              <p>Sei sicuro? L'operazione è irreversibile</p>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                              >
                                Annulla
                              </button>
                              <button
                                type="submit"
                                class="btn btn-danger rounded-3"
                              >
                                Elimina
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h5 th:text="*{dataInizio}" />
                  </div>
                  <div class="col-6">
                    <h5 class="" th:text="*{dataFine}" />
                  </div>
                </div>
              </div>
            </div>
          </th:block>
          <h2 th:unless="${offer != null}" class="text-center">
            No data found
          </h2>
        </section>
      </div>
    </main>

    <th:block th:replace="~{fragments/resources :: bootstrapJs}"></th:block>
  </body>
</html>
